@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

:root {
  font-family: 'Sniglet', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #FFF2DB;
  background-color: #7669E4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  cursor: pointer;
  color: #FF7A6F;
}

button {
  color: #FFF6E7;
  background-color: #7165E3;
  font-family: 'Fredoka', sans-serif;
  font-size: 24px;
  letter-spacing: 0.1rem;
  padding: 0.6em 1.2em;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.05);
  transition: all .25s;
}

button:hover {
  color: #FF7A6F;
  border-color: #FF7A6F;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
